<ng-container *ngIf="(home$ | async) as home">
  <div
    *ngIf="home.loading"
    class="uk-container uk-text-center uk-margin"
  >
    <div uk-spinner="ratio: 3"></div>
  </div>
  <div *ngIf="home.data">
    <app-home-image-gallery></app-home-image-gallery>
    <div class="uk-container uk-container-medium uk-margin-bottom">
      <div uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
          <div
            class="uk-margin-top uk-grid-collapse"
            uk-grid
          >
            <div class="uk-width-5-6">
              <h1 class="uk-heading-medium uk-margin-remove-bottom">
                {{ home.data.title }}
              </h1>
              <div>
                {{ home.data.location }} • {{ home.data.type }}
              </div>
            </div>
            <div class="uk-width-1-6 uk-text-center">
              <img
                src="{{ home.data.host.image_url }}"
                class="uk-margin-small-top uk-border-circle"
                style="width:80px;height:80px;"
              />
              <div>
                {{ home.data.host.name }}
              </div>
            </div>
          </div>
          <hr>
          <div>
            {{ home.data.description }}
          </div>
          <hr>
          <div>
            <span class="uk-text-bold">Amenities</span>
            <div
              *ngFor="let amenity of home.data.amenities; let i=index"
            >
              <ng-container *ngIf="i < 4">
                {{ amenity.name }}
              </ng-container>
            </div>
          </div>
          <hr>
          <div>
            <span class="uk-text-bold">Reviews</span>
            <div *ngFor="let review of home.data.reviews">
              <div>
                {{ review.name }}
              </div>
              <div>
                {{ review.date }}
              </div>
              <div>
                {{ review.review }}
              </div>
            </div>
          </div>
          <hr>
          <app-home-host [home]="home.data"></app-home-host>
          <hr>
          <app-home-map></app-home-map>
        </div>
        <div class="uk-width-expand@m uk-margin-top">
          <app-home-reserve
            [home]="home.data"
            uk-sticky="offset: 120"
          ></app-home-reserve>
        </div>
      </div>
    </div>
  </div>
</ng-container>
