<ng-container *ngIf="(home$ | async) as home">
  <div
    *ngIf="home.loading"
    class="uk-container uk-text-center uk-margin"
  >
    <div uk-spinner="ratio: 3"></div>
  </div>
  <div *ngIf="home.data">
    <app-home-image-gallery></app-home-image-gallery>
    <div class="uk-container uk-container-medium uk-margin-bottom">
      <div uk-grid>
        <div class="uk-width-2-3@m uk-width-1-1">
          <div
            class="uk-margin-top uk-grid-collapse"
            uk-grid
          >
            <div class="uk-width-5-6">
              <h1 class="uk-heading-medium uk-margin-remove-bottom">
                {{ home.data.title }}
              </h1>
              <div>
                {{ home.data.location }} • {{ home.data.type }}
              </div>
            </div>
            <div class="uk-width-1-6 uk-text-center">
              <img
                src="{{ home.data.host.image_url }}"
                class="uk-margin-small-top uk-border-circle"
                style="width:80px;height:80px;"
              />
              <div>
                {{ home.data.host.name }}
              </div>
            </div>
          </div>
          <hr>
          <div>
            {{ home.data.description }}
          </div>
          <hr>
          <div>
            <span class="uk-text-bold">Amenities</span>
            <div
              *ngFor="let amenity of home.data.amenities; let i=index"
            >
              <ng-container *ngIf="i < 4">
                {{ amenity.name }}
              </ng-container>
            </div>
          </div>
          <hr>
          <div>
            <span class="uk-text-bold">Reviews</span>
            <div *ngFor="let review of home.data.reviews">
              <div>
                {{ review.name }}
              </div>
              <div>
                {{ review.date }}
              </div>
              <div>
                {{ review.review }}
              </div>
            </div>
          </div>
          <hr>
          <div>
            <span class="uk-text-bold">Host info</span>
            <div>{{ home.data.host.name }}</div>
          </div>
          <hr>
          <div>
            <div class="uk-text-bold">Map</div>
            <iframe
              width="600"
              height="500"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=new york&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
          </div>
        </div>
        <div class="uk-width-1-3@m uk-margin-top">
          <div
            class="uk-card uk-card-default uk-card-body"
            uk-sticky="offset: 120"
          >
            <div>
              <span class="uk-text-large uk-text-bold">
                ${{ home.data.price }}
              </span>
              per night
            </div>
            <div class="uk-margin">
              <button
                class="uk-button uk-button-danger uk-button-large uk-width-1-1 uk-text-bold"
              >Reserve</button>
            </div>
            <div class="uk-text-small uk-text-center">
              You won’t be charged yet
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
