<div uk-lightbox="animation: fade">
  <div class="uk-inline uk-width-1-2">
    <a href="assets/listing2.jpeg">
      <img src="assets/listing2.jpeg">
    </a>
  </div>

  <div class="uk-inline uk-width-1-2">
    <div
      class="uk-child-width-1-2@m uk-grid-collapse uk-grid-match"
      uk-grid
    >
      <a href="assets/listing3.jpeg">
        <img src="assets/listing3.jpeg">
      </a>

      <a href="assets/listing.jpg">
        <img src="assets/listing.jpg">
      </a>

      <a href="assets/listing2.jpeg">
        <img src="assets/listing2.jpeg">
      </a>

      <a href="assets/listing3.jpeg">
        <img src="assets/listing3.jpeg">
      </a>
    </div>
  </div>
</div>
