<div
  uk-lightbox="animation: fade"
  class="uk-child-width-1-2@m uk-grid-collapse uk-grid-match"
  uk-grid
>
  <a href="assets/listing2.jpeg">
    <img src="assets/listing2.jpeg">
  </a>
  <div class="uk-visible@m">
    <div
      class="uk-child-width-1-2@m uk-grid-collapse uk-grid-match"
      uk-grid
    >
      <a href="assets/listing3.jpeg">
        <img src="assets/listing3.jpeg">
      </a>
      <a href="assets/listing.jpg">
        <img src="assets/listing.jpg">
      </a>
      <a href="assets/listing2.jpeg">
        <img src="assets/listing2.jpeg">
      </a>
      <a href="assets/listing3.jpeg">
        <img src="assets/listing3.jpeg">
      </a>
    </div>
  </div>
</div>
